<!--{template header}-->
<link rel="stylesheet" media="all" href="{SITE_URL}static/css/bianping/css/search.css" />
<div class="container search">
    <div class="row">

        <div class="aside">
            <ul class="menu">
                <li class="">
                    <a href="{url allsearch/default/$word}">
                        <div class="setting-icon">
                            <i class="fa fa-bars"></i>
                        </div>
                        <span>全部</span>
                    </a>
                </li>
                <li class="">
                    <a href="{url topictag-$word}">
                        <div class="setting-icon">
                            <i class="fa fa-rss-square"></i>
                        </div>
                        <span>文章</span>
                    </a>
                </li>
                <li class="">
                    <a href="{url question/search/$word}">
                        <div class="setting-icon">
                            <i class="fa fa-question-circle-o"></i>
                          
                        </div>
                          <span>问题</span>
                    </a>

                </li>
                    <li class="active">
                    <a href="{url note/search/$word}">
                        <div class ="setting-icon"><i class="fa fa-file-word-o"></i></div>
                        <span>
                            公告
                             <span class="badge">{$rownum}</span>
                        </span>
                       
                    </a>

                </li>


                <li class="">
                    <a href="{url category/search/$word}">
                        <div class="setting-icon"><i class="fa fa-tag"></i></div>
                         <span>专题</span>
                    </a>
                   
 
                </li>
            


            </ul>


        </div>
           
    <div class="col-xs-16 col-xs-offset-8 main">
        <div class="search-content">
              <div class ="hot-key">
                    <h4 style="float:left">为你推荐</h4>
                    <!--{if $hotwords!=null}-->
                    <!--{loop  $hotwords $hotkey $hot}-->
                    <span > <a href="{url note/search/$hotkey }">{$hotkey}</a></span>
                    <!--{/loop}-->


                    <!--{/if}-->
                </div>


        <div class="result">检索到{$rownum} 个结果</div>
        <!--{if $notelist!=null}-->
          <ul class="note-list">
              <!--{loop $notelist  $note}-->

              <li>
                  <div  class="content">

                      <div class="author">
                          <a href="{url user/space/$note['authorid']}" target="_blank" class="avatar">
                              <img src="{$note['authoravatar']}" />
                          </a>
                          <div class="name">
                              <a href="{url user/space/$note['authorid']}">{$note['author']}</a><span class="time">{$note['time']}</span>
                          </div>
                      </div>
               
                      <a href="{url note/view/$note['id']}" target="_blank" class="title">
                          <h3>{$note['title']}</h3>
                      </a>
                      <p class="abstract">
                          {$note['content']}
                      </p>
                      <div class="meta">
                          <a href="{url note/view/$note['id']}" target="_blank">
                              <i class="fa fa-eye"></i>
                               {$note['views']}
                          </a>
                          <a href="{url note/view/$note['id']#comments}" target="_blank">
                              <i class="fa fa-comment-o"></i> {$note['comments']}
                          </a> 

                      </div>

                  </div>

              </li>
              <!--{/loop}-->  
          </ul>

        <!--{else}-->
               <div id="no-result">
                 <p style="clear:left">抱歉，未找到和您搜索相关的内容。</p>
                    <!--{if $corrects !=null}-->
                    <strong>您是不是要找：</strong>
                    <ul class="nav">
                        <!--{loop  $corrects $correct}-->
                        <li><a href="{url note/search/$correct}">{$correct}</a></li>
                        <!--{/loop}-->
                    </ul>
                    <!--{else}-->

                    <strong>建议您：</strong>
                    <ul class="nav">
                        <li><span>检查输入是否正确</span></li>
                        <li><span>简化查询词或尝试其他相关词</span></li>
                    </ul>
                    <!--{/if}-->
            </div>

        <!--{/if}-->


        <div class="pages">  {$departstr}</div>
               <div class="related">
              
                <!--{if $relateds !=null}-->
                  <h4>相关搜索</h4>
                <ul>
                  <!--{loop $relateds $key $val}-->
                    <li>
                        <a href="{url note/search/$val}">{$val}</a>
                    </li>

                <!--{/loop}-->
                </ul>
        
                <!--{/if}-->
               
            </div>



        </div>

    </div>
</div>
 </div>


  <script>
         $(".note-list em").addClass("search-result-highlight");
         </script>

<!--{template footer}-->
